*{
            
    border:solid 

}

h1{

    color:teal

}

h2{

    color:darkmagenta

}

p{

    color:blanchedalmond

}

a{

    color:lightgray

}

.cabecalho{
    
}
